#main-container{
    padding-bottom: 60px;
}

.add-color{
    background-color:rgb(0, 0, 0);
    color: yellow;
    text-transform: capitalize;
}


.jumbotron{
    margin-top: 20px;
    background-image: url("../images/car_logo.jpg");
    background-size: contain;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    text-transform: uppercase;
    
}
form{
    margin: 15px 0; 
    text-align: center;
}

.btn{
    margin:5px;
} 

.rating{
    margin-top: 20px;
}

img{
    margin-top: 5px; 
    height: 200px;
    width: 200px;
}