#main-container{
    padding-bottom: 60px;
    font-family: 'Days One', sans-serif;
}

.add-color{
    background: rgb(131,58,180);
    background: -moz-radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(5,0,10,1) 71%);
    background: -webkit-radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(5,0,10,1) 71%);
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(5,0,10,1) 71%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#05000a",GradientType=1);
    color: yellow;
    text-transform: capitalize;
}



.jumbotron{
    /* margin-top: 20px; */
    background-image: url("../images/car_logo.jpg");
    background-size: contain;
    color: #f7e019;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    text-transform: uppercase;
    
}

form{
    margin: 15px 0; 
    text-align: center;
}

.btn{
    margin:5px;
} 

.rating{
    margin-top: 20px;
}

img{
    margin-top: 5px; 
    height: 200px;
    width: 200px;
    border: solid 2px gray !important;
}